/*------------------------
        RESET   
--------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------------
        GENERAL   
--------------------------*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*------------------------
        BACKGROUND 
--------------------------*/

.background-landscape {
    height: 100vh;
    position: relative;
}

.header-top-small {
    height: 15%;
    background-color: #009688;
}

.body-bottom-big {
    height: 85%;
    background-color: #dadbd4;
}

/*------------------------
        VIEWPORT APP   
--------------------------*/

.container-app {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    height: calc(100vh - 15%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: #fff;
}

.contact-column {
    width: 35%;
    border: 2px solid green;
    height: 100%;
}

.chat-space {
    width: 65%;
    border: 2px solid blue;
}

/*------------------------
        ASIDE CONTACT   
--------------------------*/

.user-contact {
    background-color: #eaeaea;
    height: 60px;
}

.alert-notification {
    background-color: #8edafc;
    height: 60px;
}

.input-search {
    background-color: #eaeaea;
    padding: 5px;    
    height: 30px;
}

.address-book {
    height: calc(100% - 150px);
    overflow-y: auto;
}

.contact-address:hover {
    background-color: #dadbd4;
    cursor: pointer;
}